body {
  font-family: 'Vina Sans', cursive;
  background-color: black;
}

.carousel-item img {
  min-height: 600px;
  object-fit: cover;
}

.nav-link, .form-label {
  font-size: 20px;
}

.card-img-top {
  height: 200px;
}

.card-body, .btn, footer {
  background-color: #c5e2f6;
}

.card-text {
  text-align: justify;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bs-success);
}