body {
  font-family: 'Vina Sans', cursive;
  background-color: black;
}

.nav-link, .form-label {
  font-size: 20px;
}

.card-img-top {
  height: 200px;
}

.card-body, .btn, footer {
  background-color: #c5e2f6;
}

.card-text {
  text-align: justify;
}